@font-face {
    font-family: headerFont;
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: formFont;
    src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: regularFont;
    src: url(fonts/Roboto-Medium.ttf);
    
}

/* menu-gerelateerde CSS */

a {
    text-decoration: none;
}

h2 {
    font-size: 1.5rem;
    font-family: headerFont;
    color: white;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #dfb05f;
    height: 11.3vh;
    font-size: 23px;
    font-family: formFont;
    margin-left: 0;
    width: 100%;
    
}

#menu a {
    text-decoration: none;
    margin-left: 8px;
    color: brown;
    padding: 4.2vh 1.5vw 4.2vh 1.5vw;
    transition: padding 1s; 
}

#menu a:hover {
    text-shadow: 2px 2px  black;
    padding: 7vh 1.5vw 7vh 1.5vw;
    background-color: #b2815e;
    border-radius: 25%;
    border: 2px solid black;
}

#a-items {
    position: relative;
    margin-right: 9vw;
}

#logo {
    height: 10vh;
    float: left;
    background-color: #dfb05f;
    position: absolute;
}

#userLogo {
    height: 6vh;
    float: right;
    top: 2.5vh;
    left: 97%;
    position: absolute;
}

#shoppingcartLogo {
    height: 5vh;
    float: right;
    top: 2.8vh;
    position: absolute;
    left: 93%;
}

#userLogo:hover {
    cursor: pointer;
    
}

#dropdown {
    z-index: 1;
    position: absolute;
    top: 9%;
    left: 87%;
    background-color:#db8217;
    width: 12vw;
    display: none;
}

#dropdown a {
    border:  #922829 solid 2px;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    display: block;
    text-decoration: none;
    color: #922829;
}

#dropdown a:hover {
    text-decoration: underline;
}



/* Homepagina-gerelateerde CSS */

#home {
    display: flex;
    flex-direction: column;
}

#section-newsitems {
    color: white;
    display: flex;
    flex-flow: column;
    min-height: 52vh;
    background-color: #922829;
}

#section-newsitems h2 {
    align-self: center;
}

#newsitem {
    background-color: #db8217;
    border-radius: 9px;
    align-self: center;
    width: 80vw ;
    left: 3px;
    display: flex;
}

#newsitem:hover {
   /* border: white solid 4px; */
    border: white solid 4px; 
}

#newsitem h3 {
    margin-top: 0;
    margin-bottom: -10px;
    margin-left: 3px;
}

#newsitem p {
    margin-left: 3px;
}

#newsitems-date {
    display:flex;
    align-items: center;
    border-right-style:solid;
    height: 93px;
    /* width: 93px; */
    font-family: headerFont;
    font-size: 28px;
    color: white;
    overflow: hidden;
}

#section-attention {
    margin-top: 8vh;
    display: flex;
    justify-content: space-around;
    height: 44vh;
    
}

.attention-items {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: 35vh;
    width: 18vw;
    margin-top: 1.3rem;
    box-shadow: rgba(0, 0, 0, 0.441) 0px 3px 8px; 
}

.attention-items:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.attention-items div {
    background-color: #b2815e;
    color:white;
    display: flex;
    justify-content: center;
    width: 100%;
}

.attention-items img {
    background-size: contain;
    /* max-width: auto; */
    height: 100%

}
 

/* Algemene CSS */

body {
    margin: 0;
    height: 100%;
    
}  


.content {
    display: flex;
    overflow-x: hidden;
}


/* De CSS voor de login-pagina */

#loginPage {
    height: 100vh;
}

#imageDiv {
    background: url("images/cma2019kelseaballerini.png") no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    background-position: 25% -7em;

}

#registerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #922829;
    color: white;
    height: 100%;
    width: 50%;
    font-family: formFont;
    
}

#loginForm {
    background-color:#922829;
    font-size: 19px;
}

#registerForm {
    font-size: 19px;
    background-color:#922829;
    height: 55%;
    margin-right: 5px;
    
}

.inputPrefix {
    width: 50px;
}

.btnForm {
    font-size: 1.2rem;
    background-color: #dfb05f;
    font-family: regularFont;
    color: #922829;
    cursor: pointer;
    
}

.btnForm:hover {
    box-shadow: 2px 2px black;
}

#loginBody {
    overflow: hidden;
}

/* De CSS voor de beheermodule */
textarea {
    resize: none;
    width: 25vw;
    font-family: formFont;
}

#module-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #922829;
    
}

#module-table {
    width: 40vw;
    background-color: #b2815e;
    margin-top: 5vh;
}

#module-table table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

#module-table td {
    text-align: center;
}

#module-table th {
    border-bottom: solid 2px #dfb05f;
}

#totalIncomeRow {
    border-top: 2px solid #dfb05f;
}

label {
    color: white;
}

input {
    margin-bottom: 0.5rem;
}


.module-holder{
    width: 100vw;
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: #b2815e 2px solid
}

#moduleBody {
    overflow-x: hidden;
    font-family: regularFont;
}

#btnConvert {
    font-size: 1rem;
    width: 5.2vw;
    border-radius: 1.5rem;
    background-color: #dfb05f;
    font-family: regularFont;
    color: #922829;
    margin-right: 0.1vw;
}


#btnConvert:hover {
    box-shadow: 2px 2px black;
}

/* De CSS voor line-up.php */

#line-up-page {
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

#tools {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #922829;
    border: #dfb05f solid 4px;
    margin-top: 2vh;
    padding: 1rem;
}

#btnSearch {
    background-color:#dfb05f;
    border: black 2px solid;
    font-size: 1rem;
    border-radius: 1.5rem;
}



#btnSearch:hover {
    border: #b2815e 2px solid;
}

input[type='text'], input[type='password'] {
    font-family: regularFont;
    font-size: 1rem;
    border-radius: 1.5rem;
    border: 0;
}


#line-up-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100vw;
    margin-top: 7vh;
}

.artist-profile {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 7rem;
    margin-left: 3rem;
    margin-right: 3rem;
    height: 20rem;
    width: 20em;
}

.artist-profile img {
    background-size: contain;
    width: 100%;
    height: 100%;
    border-radius: 19%;
}

.artist-profile-side {
    height: 20rem;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding:2rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 7px 2px;
  }

.artist-profile-side.back {
    transform: rotateY(-180deg);
    background-color: #b2815e;
    width: 80%;
}

.artist-profile-side.front {
    background-color: #b2815e;
}

.artist-profile:hover .artist-profile-side.front {
    transform: rotateY(180deg);
    background-color:#dfb05f
}

.artist-profile:hover .artist-profile-side.back {
    transform: rotateY(0deg);
}

#socials-div {
    display: flex;
    justify-content: center;
    background-color: #922829;
    border-top: #dfb05f solid 4px;
    border-bottom: #dfb05f solid 4px;
    width: 100%;
    height: 3rem;
    padding-right: 4rem;
    margin-left: -2rem;
}

#links{
    display: inline-flex;
    margin-left: 55px;
}

#socials-div img {
    height: 3rem;
    width: 3rem;
}


/* De CSS voor de contactpagina */
#contactpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #922829;
    height: 100vh;
}

#contact-box {
    display: flex;
    background: rgba(146, 40, 41, 0.5);
    height: 50%;
    width: 100%;
    align-self: flex-end;
}

#contactImage {
    width: 100%;
    height: 50%;
    background: url("images/cma2019lindsayell2.png") no-repeat center;
    background-size: cover;
}

#contactInfo {
    margin-right: 3rem;
    font-family: regularFont;
    color: white;
}

iframe {
    margin-right: 2rem;
}

/* De CSS voor webshop.php */
#webshopPage {
    background-color: #922829;
    flex-direction: column;
}

.ticket-div {
    display: flex;
    height: 30vh;
    margin: 2vh 3vw 2vh 3vw;
    border: solid 3px #dfb05f;
    background-color: #b2815e;
    border-radius: 15px;
    overflow: hidden;
}

.ticket-info {
    background-color: #b2815e;
    height: 33vh;
    width: 60%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.ticket-info h2 {
    margin-left: 3vw;
    margin-right: 0;
}

.ticket-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #db8217;
    border: #922829 2px solid;
    border-radius: 50%;
    width: 10vw;
    height: 10vh;
    margin-left: 3vw;
}

.ticket-price h1 {
    font-size: 2.5rem;
    color: white;
    font-family: headerFont;
}

.ticket-form {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 2vw;
}

.ticket-info input {
    height: 4vh;
}

.ticket-info select {
    background-color: #dfb05f;
    color: #922829;
    width: 8vw;
    text-align: center;
    margin-bottom: 2vh;
}
#ticket-image {
    border-radius: 15px;
    height: 30vh;
    width: 60vw;
    top: 13.7vh;
    right: 3.2vw;

}

#ticket-image img {
    position: relative;
    height: 29.8vh;
    width: 100%;
    right: 0;
    z-index: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* De CSS voor order.php */

#orderBody {
    overflow: hidden;
}
#orderPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #922829;
}

#orderPage table  {
    margin-top: 3vh;
    background-color: #b2815e;
    border: 4px solid #dfb05f;
    height: 20vh;
    width: 80vw;
    color: white;
    font-family: regularFont;
    text-align: center;
    border-collapse: collapse;
}

#orderPage table th {
    border-bottom: 2px solid #dfb05f;
    width: 10vw;
}

#totalPrice-row {
    border-top: 2px solid  #dfb05f;
}

#orderPage td {
    width: 5vw;
}

#trash {
    height: 3vh;
}

#orderDiv {
    margin-top: 2vh;
    display: flex;
    width: 80vw;
    height: 5vh;
    justify-content: flex-end;
}

#orderDiv input {
    width: 6vw;
}

#changedAmount {
    width: 1vw;
    border-radius: 0;
    text-align: center;
}

#orderPage td input {
    background-color: #dfb05f;
    color: #922829;
    border: 0;
    height: 21px
}

#orderPage h3 {
    color: white;
}

/* De CSS voor ordered.php */
#orderedBody {
    height: 100vw;
    width: 100vw;
    overflow: hidden;
}

#orderedDiv {
    display: flex;
    justify-content: center;
    background-color: #922829;
    height: 100vh;
}








